.navbar{
    position: relative;
}

.item{
    width: 100px;
    height : 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    transition: 0.1s ease;
    margin-right: 20px;
}
.item:hover{
    background-color:rgb(21, 148, 159);
    border-radius: 2%;
    color: #fff;
}
.pnav{
    font-weight: 700;
    margin-left: 1%;
    font-size: 20px;
    color: rgb(21, 148, 159);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #afa1a1;
    border-radius: 10px;
}

.sidebar{
    position: fixed;
    margin-top: -15px;
    width: 250px;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.scrollbox{
    overflow: auto;
    height: auto;
    margin-bottom: 100px;
}
.scrollbox-inner{
    color: black;
    margin-top: 20px;
    height: auto;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0px); 
    height: calc(100vh - 0px);
    position: fixed;
    left: 0px;
    top: 0px; 
    text-align: center;
}

h4{
    margin-left: 20px;
    padding-top: 20px;
}
.head{
    margin-left: 20px;
    cursor: pointer;
    border: none;
    width: 220px;
    text-align: left;
    margin-bottom: 10px;
}
.head:hover{
    background: rgb(55, 187, 217);
}
.contenthead{
    position: fixed;
    margin-top: 80px;
    font-size: 60px;
    margin-left: 280px;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}
/* -==================================intro============================================= */
.intro{
    position: relative;
    margin-top: 80px;
    margin-left: 280px;
    width: calc(100%-250px);
    height: 100vh;
    color: white;
    margin-bottom: 600px;
}
.introh2{
    font-size: 50px;
}
.prevbtn{
    width: 100px;
    height: 40px;
    margin-top: 10%;
    border: none;
    border-radius: 2%;
}
.nextbtn{
    width: 100px;
    height: 40px;
    margin-top: 10%;
    border: none;
    border-radius: 2%;
    margin-left: 100px;
}
.introcontent{
    margin-top: 6%;
    text-align: justify;
    /* padding-right: 10%; */
    line-height: 40px;
}
hr{
    color: #fff;
}
.highlight{
    background-color: whitesmoke;
    color: red;
    margin-left: 10px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}
.example{
    height: auto;
    width: auto;
    background-color: white;
    color: #0c0c0c;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h4{
    margin-left: 5%;
}
.examplep{
    margin-left: 10%;
    background-color:  whitesmoke;
    width: 700px;
    height: auto;
    color: #0c0c0c;
    padding-left: 2%;
    font-weight: 600;
    margin-top: 30px;
    border-left: 5px solid rgb(21, 148, 159);
    line-height: 30px;
}
.high{
    color: rgb(250, 143, 143);
    font-weight: 700;
}
.declare{
    background-color: rgb(253, 239, 225);
    margin-top: 20px;
    color: #0c0c0c;
    padding: 15px;
    margin-bottom: 20px;
    padding-left: 4%;
    padding-top: 2%;
}

ol{
    line-height: 25px;
}
.comment{
    color: rgb(46, 241, 46);
    padding-left: 2%;
}
p{
    font-size: 18px;
}
.bmw{
    width: 300px;
    height:200px;
}
.datetime{
    font-size: 40px;
    font-weight: 800;
    color: black;
}
.yearbtn{
    height: 30px;
    width: 120px;
    font-weight: 400;
    border: none;
}
.table{
    background-color: whitesmoke !important;
    color: black !important;
    border: 1px solid #0c0c0c !important;
    margin-bottom: 20px !important;
}
.table tr{
    border: 1px solid #0c0c0c !important;
}
.table td{
    border: 1px solid #0c0c0c !important;
    padding: 8px;
}
.table th{
    border: 1px solid #0c0c0c;
    padding: 8px;
    font-weight: 700;
    font-size: 20px;
}
h3{
    margin-top: 20px;
}
.ptop{
    margin-top: 20px;
}
.pside{
    margin-left: 7%;
}
h2{
    margin-top: 20px;
}
#logout{
    display: none;
}
#profile{
    border: none;
    display: none;
}

.btn{
    border: 1px solid rgb(21, 148, 159) !important;
    border-radius: 50% !important;
    margin-right: 20px !important;
    height: 40px;
    width: 40px;
}
.dropdown-menu{
    color: rgb(5, 5, 5) !important;
    height: auto !important;
    margin-top: 15px !important;
    font-weight: 700 !important;
    font-size: 40px !important;
}
#userscore{
    display: none;
}
#quiz{
    display: none;
}
.pad-bot{
    padding-bottom: 10%;
}
#imageProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}
@media screen and (max-width:375px){
    .sidebar {
        height: auto;
        position: relative;
        z-index: 1000;
    }
    .scrollbox {
        height: auto;
    }
    .content {
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: calc(100% - 0px); 
        height: calc(100vh - 0px);
        position: relative;
    }
    .contenthead {
        font-size: 40px;
        margin-left: 0;
        text-align: center;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 100%;
        margin-bottom: 10px;
    }
    .intro{
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: calc(100% - 250px); 
        height: calc(100vh - 250px);
        overflow-x: hidden;
        position: relative;
        display: flex;
        
    }
}
@media screen and (min-width:376px) and (max-width: 768px) {
    .sidebar {
        height: auto;
        position: relative;
        z-index: 1000;
    }
    .scrollbox {
        height: auto;
    }
    .content {
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: calc(100% - 0px); 
        height: calc(100vh - 0px);
        position: relative;
    }
    .contenthead {
        font-size: 40px;
        margin-left: 0;
        text-align: center;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 100%;
        margin-bottom: 10px;
    }
    .intro{
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: calc(100% - 250px); 
        height: calc(100vh - 250px);
        overflow-x: hidden;
        position: relative;
        display: flex;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }
    .content {
        justify-content: center;
        align-items: center;
        width: calc(100% - 0px); 
        height: calc(100vh - 0px);
        position: fixed;
    }
    .contenthead {
        font-size: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .sidebar {
        width: 250px;
    }
    .content {
        justify-content: center;
        align-items: center;
        width: calc(100% - 0px); 
        height: calc(100vh - 0px);
        position: fixed;
    }
    .contenthead {
        font-size: 60px;
    }
}
