#prevbtn{
    margin-top: 20px;
    margin-left: 280px;
    border: none;
    background-color: rgb(21, 148, 159);
    height: 40px;
    width: 200px;
}
.card{
    margin-top: 50px;
    border: 5px dotted rgb(21, 148, 159) !important;
    width: 600px;
    height: 600px;
    margin-left: 80px;
    text-align: center;
}
.certificate{
    display: none;
}
.signnav{        
    font-weight: 700;
    margin-right : 2%;
    margin-top: 2%;
    font-size: 20px;
    color: rgb(21, 148, 159);
}
h2{
    font-weight: 900 !important;
    color: rgb(21, 148, 159) !important;
    margin-bottom: 30px !important;
}
h3{
    margin-bottom: 30px !important;  
}
h5{
    margin-bottom: 70px !important;
}
#inputname{
    color: green;
    font-weight: 900;
}
#DowBtn{
    display: none;
    margin-top: 20px;
    margin-left: 280px;
    border: none;
    background-color: rgb(21, 148, 159);
    height: 40px;
    width: 200px;
    margin-bottom: 30px;
}
#scoress{
    font-weight: 800;
}
.fa-brands{
    font-size: 30px !important;
    color: rgb(21, 148, 159) !important;
}
.fa-solid.fa-xmark{
    font-size: 30px !important; 
    margin-top:30px !important;
    margin-left: 150px !important;
}
@media screen and (max-width:600px) {
    body{
        overflow-x: hidden !important;
        width: 98% !important;
    }
    .fa-solid.fa-xmark{
        font-size: 20px !important; 
        margin-top:30px !important;
        margin-left: 0px !important;
    }
    .fa-brands{
        margin-left: 10px !important;
        margin-top: 20px !important;
    }
    #prevbtn{
        margin-left: 20%;
        margin-top: 10px;
    }  
    .card{
        margin-top: 50px;
        width: 310px;
        height: 600px;
        margin-left: 10px;
        display: flex;
        text-align: center;
    }
    h2{
        font-size: 20px !important;
        font-weight:700 !important;
        margin-bottom: 30px !important;
    }
    h3{
        font-size: 18px !important;
        margin-bottom: 30px !important;  
    }
    h5{
        font-size: 16px !important;
        margin-bottom: 70px !important;
    }
    #DowBtn{
        margin-left: 80px;
    }
}

@media screen and (min-width:601px) and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .fa-solid.fa-xmark{
        font-size: 30px !important; 
        margin-top:20px !important;
        margin-left: 80px !important;
    }
    body{
        width: 95% !important;
    }
}

